<form>
    <h1 class="mat-elevation-z8">UPDATING NEW GATEGORY</h1>

    <mat-form-field class="form">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="category.name" type="text" name="name" placeholder="Ex: Computação">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="category.description" type="text" name="description" placeholder="Ex: Books about computation"></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="update()" class="mat-elevation-z8" mat-stroked-button color="primary">UPDATE</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn">CANCEL</button>

    </div>
</form>
